@{
    ViewData["Title"] = "Home Page";
}


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item customBg active">
            <img src="http://manelec.net/wp-content/uploads/2016/02/background_blue_v0011.jpg" alt="bg1" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Handle easyli your crypto currencies.
                </p>
            </div>
        </div>
        <div class="item customBg">
            <img src="https://www.templatelauncher.com/wp-content/uploads/2015/08/color10.png" alt="bg2" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    A simple application connected to your BitTrex API.
                </p>
            </div>
        </div>
        <div class="item customBg">
            <img src="http://cdn1.bestpsdfreebies.com/wp-content/uploads/2014/05/Hexagon-3.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    A lot of handy features.
                </p>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    </a>
</div>
<div class="container">
    <div class="row">
        
    </div>
</div>