@{
    var favorites = (UserCurrencies)ViewData["Favorites"];
}
<div class="container container-content">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked admin-menu">
                <li><a asp-controller="User" asp-action="Edit">Profile</a></li>
                <li class="active"><a href="">Favorites</a></li>
                <li><a asp-controller="User" asp-action="Unsubscribe">Unsubscribe</a></li>
            </ul>
        </div>
        <div class="col-md-9 well admin-content">
            @foreach (var favorite in favorites.Result) {
                <div class="row favortites-item">
                    <div class="col-lg-3">
                        <span>@favorite.MarketName</span>
                    </div>
                    <div class="col-lg-9">
                        <a asp-controller="Currencies" asp-action="Details" asp-route-Identifier="@favorite.MarketName" class="btn btn-primary">Details</a>
                        <a class="btn btn-danger">Remove</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


